body, h2, li, p, ol[class], ul[class], main, footer, div {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}


header{
    height: 78px;
}

footer {
    height: 108px;
}

.nav-menu {
    padding-top: 31.5px;
    padding-bottom: 31.5px;
    padding-left: 330px;
    width: 620px;
    height: 15px;
}

/*Список в одну строку*/
.menu-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.menu-item {
    font-weight: 700;
    font-size: 18px;
    padding-right: 72px;
    white-space: nowrap;    /*Запретить перенос текста*/
}

.item-link {
    text-decoration: none;
    color: #FF0000;
}

/*Обращаемся предпоследнему элементу меню*/
.menu-item:nth-last-child(2) {
    padding-right: 50px;
}



.main-img {
    height: 789px;
    background-color: brown;
    background-image: url("../images/main.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center left;
}

.main-textblock {
    height: 650px;
    overflow: hidden;
}

.main-subtitle {
    margin: 49px 253px 38px 253px;
    font-style: normal;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    white-space: nowrap;    /*Запретить перенос текста*/

}

.main-text {
    width: 1145px;
    margin: 28px 67.5px;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
}

.main-button {
    width: 191px;
    height: 51px;
    background-color: red;
    border: none;
    color: white;
    margin: 66px 544.5px;
    padding: 18px 42.5px 17px 43.5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Montserrat';
    letter-spacing: 1.8px;
    font-weight: 700;
    line-height: 12px;
    white-space: nowrap;
}

.footer-text {
    padding: 40px 105px 29px 105px;
    text-align: right;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
}